@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #04cca8, #069789);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 5px 5px 15px #028e80;
}

h1{
    color: #253659;
    text-align: center;
    text-shadow: 1px 1px 2px #1f2e4bd6;
}

h2{
    color: #F28157;
}

h3{
    color: #BF665E;
}
p{
    text-align: justify;
}